*.DS_Store
cmake_*/
Cmake_*/
cmake-*/
result/Video_GMSpace/Ani/
result/Video_KGDesign/Geometric/
result/Video_KGDesign/Kinematic/

*.gh
*.3dm
*.obj
.OBJ
*.tar.gz
result/backup/
result/Fig21/test/*
.idea/
xcode/*
build
.vs
Release/*.*
Release
out
ipopt.out 
data/origin_data/PartGeometry/*.*
data/origin_data/Simulation/*.*
# These are downloaded via Cmake
ext/tbb
ext/Catch2
ext/clp
ext/.cache
ext/shapeop
ext/libigl
ext/filesystem
ext/eigen
ext/pugixml
ext/pybind11
ext/json
ext/autodiff
ext/nanogui
data/